.light-mode {
    background-color: #f0f8ff;
    color: #001529;
    font-size: 18px;
}

.dark-mode {
    background-color: #002A52;
    color: #002A52;
    font-size: 18px;
}

.ant-table {
    background-color: inherit;
}

.light-mode .ant-table-thead>tr>th {
    background-color: #cce8ff;
    color: #001529;
    font-size: 18px;
}

.light-mode .ant-table-tbody>td {
    background-color: #FFFFFF;
    color: #001529;
    font-size: 18px;
}

.light-mode .ant-table-tbody>tr {
    background-color: #FFFFFF;
    color: #001529;
    font-size: 18px;
}

.light-mode .ant-table-tbody>tr:hover {
    background-color: #FFFFFF;
    color: #001529;
    font-size: 18px;
}

.dark-mode .ant-table-thead>tr>th {
    background-color: #001529;
    color: #cce8ff;
    font-size: 18px;
}

.dark-mode .ant-table-tbody>tr {
    background-color: #002A52;
    color: #cce8ff;
    font-size: 18px;
}

.dark-mode .ant-table-tbody>tr:hover {
    background-color: #002A52;
    color: #002A52;
    font-size: 18px;
}

.dark-mode .ant-table-tbody>td {
    background-color: #002A52;
    color: #cce8ff;
    font-size: 18px;
}

.ant-switch-checked {
    background-color: #007da3;
    font-size: 18px;
}