/* Light mode styles */
.favorites-light {
    background-color: #cce8ff;
    color: #001529;
    font-family: 'Darker Grotesque', serif;
    font-size: 18px;
}

.favorites-light .ant-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    font-family: 'Darker Grotesque', serif;
    font-size: 18px;
}

/* Dark mode styles */
.favorites-dark {
    background-color: #001529;
    color: #cce8ff;
    font-family: 'Darker Grotesque', serif;
    font-size: 18px;
}

.favorites-dark .ant-card {
    background-color: #002140;
    border: 1px solid #004085;
    font-family: 'Darker Grotesque', serif;
    font-size: 18px;
}

/* Button styles */
button {
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 2px solid #001529;
    cursor: pointer;
    background-color: #007bff;
    color: #cce8ff;
    font-family: 'Darker Grotesque', serif;
    font-size: 18px;
}

button:hover {
    background-color: #001529;
    color: #cce8ff;
}