/* Base Styles for Login Component */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #007BFF;
    font-family: 'Darker Grotesque', serif;
    font-size: 18px;
    background-color: #ffffff;
    /* Light mode background */
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    font-family: 'Darker Grotesque', serif;
    font-size: 18px;
    background-color: #ffffff;
    /* Light mode input background */
    color: #001529;
    /* Dark text for contrast */
}

/* Dark Mode Styles */
.dark-mode form {
    background-color: #001529;
    /* Dark mode background */
    box-shadow: 0 2px 4px #004085;
    /* Darker shadow for dark mode */
}

.dark-mode input {
    background-color: #001529;
    /* Dark mode input background */
    color: #E0E0E0;
    /* Light text for contrast */
    border-color: #007BFF;
    /* Bright border for better visibility */
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Darker Grotesque', serif;
    font-size: 18px;
}

/* Hover Effect */
button:hover {
    background-color: #0056b3;
}

/* Dark Mode Button Hover */
.dark-mode button:hover {
    background-color: #003c7e;
}